.info {
  background: url('../../../src/img/bg.jpeg') no-repeat;
  background-position: center;
  background-size: cover;
  height: 450px;
  padding: 10px;
  color: #e3e3e3e3;
  font-family: Arial;
  margin: 0 auto 20px;
  border-radius: 10px;
}

.title {
  font-size: 25px;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 20px;
  margin-bottom: 10px;
}